@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic,700italic,300italic,300&subset=latin,cyrillic,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond&subset=latin,cyrillic);
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #2e2e2e;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
button {
  outline: none;
}

textarea {
  resize: vertical;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.contact-header__inner:before,
.navigation-menu:before,
.clearfix:after, .contact-header__inner:after, .navigation-menu:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after, .contact-header__inner:after, .navigation-menu:after {
  clear: both;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.wrapper {
  border-top: 4px solid #2e2e2e;
  padding-top: 40px;
  overflow: hidden;
}

.contact-header {
  margin: 6px 0 0 31px;
}

.contact-header__inner {
  margin: 0 auto 5px;
  width: 330px;
}

.contact-header__item {
  padding: 4px 9px 7px;
  border-left: 1px dotted #999;
  border-right: 1px dotted #999;
  float: left;
  text-align: left;
}

.contact-header__item strong {
  color: #000;
}

.work-time {
  font-size: 12px;
  margin: 5px 0 0 4px;
}

.work-time span {
  vertical-align: middle;
}

.work-time .icon-clock {
  margin-right: 5px;
}

.tel-link {
  color: #000;
  line-height: 1;
  text-decoration: none;
  font-size: 19px;
}

.tel-link:hover,
.tel-link:focus,
.tel-link:active {
  color: #000;
  text-decoration: none;
}

.contact-header__bottom {
  margin: 0;
  text-align: center;
  font-size: 13px;
}

.brand {
  margin: 0;
  text-align: center;
}

.btn__callback {
  margin: 12px 118px 0 0;
  width: 52px;
  height: 52px;
  border: none;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background: #c3c5c7;
  background: -webkit-gradient(linear, left top, right top, from(#c2c4c6), to(#f0f0fa));
  background: -webkit-linear-gradient(left, #c2c4c6 0%, #f0f0fa 100%);
  background: -moz-linear-gradient(left, #c2c4c6 0%, #f0f0fa 100%);
  background: -o-linear-gradient(left, #c2c4c6 0%, #f0f0fa 100%);
  background: linear-gradient(to right, #c2c4c6 0%, #f0f0fa 100%);
  -webkit-box-shadow: inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1), inset 1px 1px 1px 2px #f6f6f7, 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1), inset 1px 1px 1px 2px #f6f6f7, 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
          box-shadow: inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1), inset 1px 1px 1px 2px #f6f6f7, 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.btn__callback:hover,
.btn__callback:focus {
  opacity: .7;
}

.btn__callback:active {
  -webkit-transform: translateY(2px);
     -moz-transform: translateY(2px);
      -ms-transform: translateY(2px);
       -o-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1), inset 1px 1px 1px 2px #f6f6f7, 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1), inset 1px 1px 1px 2px #f6f6f7, 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
          box-shadow: inset -1px -1px 0px 0px rgba(0, 0, 0, 0.1), inset 1px 1px 1px 2px #f6f6f7, 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon-callback {
  background: url(../img/icon/icon-callback.png) center no-repeat;
  width: 30px;
  height: 29px;
}

.icon-clock {
  background: url(../img/icon/icon-clock.png) center no-repeat;
  width: 13px;
  height: 13px;
}

.navigation-wrap {
  height: 67px;
  margin: 30px 0 0;
  border-top: 1px solid #dbdbdb;
}

.navigation-menu {
  padding: 0;
  margin: 0 24px;
  list-style: none;
  display: table;
}

.navigation-menu__item {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.navigation-menu__item:nth-child(2) {
  padding: 0 8px 0;
}

.navigation-menu__item:nth-child(4) {
  padding: 0 40px 0;
}

.navigation-menu__item:nth-child(4) a:hover:after,
.navigation-menu__item:nth-child(4) a:focus:after,
.navigation-menu__item:nth-child(4) a:active:after,
.navigation-menu__item:nth-child(4) a.active:after {
  width: 80%;
}

.navigation-menu__item:nth-child(5) {
  padding: 0 0px 0;
}

.navigation-menu__item:nth-child(6) {
  padding: 0 9px;
}

.navigation-menu__item a {
  display: inline-block;
  vertical-align: middle;
  padding: 11px 25px;
  font-size: 14px;
  text-transform: uppercase;
  color: #2e2e2e;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  -webkit-transition: .3s ease-in;
     -moz-transition: .3s ease-in;
       -o-transition: .3s ease-in;
          transition: .3s ease-in;
}

.navigation-menu__item a strong {
  font-size: 16px;
}

.navigation-menu__item a:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #75003f;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.navigation-menu__item a:hover,
.navigation-menu__item a:focus,
.navigation-menu__item a:active,
.navigation-menu__item a.active {
  text-shadow: 0.4px 0.4px 0px #75003f, 0.4px 0px 0px #75003f, 0px 0.4px 0px #75003f, -0.4px -0.4px 0px #75003f, -0.4px 0px 0px #75003f, 0px -0.4px 0px #75003f;
  color: #75003f;
}

.navigation-menu__item a:hover:after,
.navigation-menu__item a:focus:after,
.navigation-menu__item a:active:after,
.navigation-menu__item a.active:after {
  width: 100%;
}

.slider {
  overflow: hidden;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  position: relative;
}

.slider .slick-dots {
  position: absolute;
  text-align: center;
  padding: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  list-style: none;
}

.slider .slick-dots .slick-active button {
  background: #000;
}

.slider .slick-dots li {
  display: inline-block;
  margin: 0 4px;
  height: auto;
  min-height: 0;
  padding: 0;
}

.slider .slick-dots li button {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  width: 8px;
  text-indent: 99999px;
  height: 8px;
  padding: 0;
  overflow: hidden;
  border: none;
  background: #aeaeae;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.slider .slick-dots li button:hover {
  -webkit-transform: scale(1.35);
     -moz-transform: scale(1.35);
      -ms-transform: scale(1.35);
       -o-transform: scale(1.35);
          transform: scale(1.35);
}

.slider__item {
  position: relative;
  height: 350px;
}

.slider__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider__info {
  position: absolute;
  bottom: 55px;
  left: 170px;
  margin: auto;
  color: #000;
  max-width: 1140px;
  text-transform: uppercase;
  font-family: 'EB Garamond', serif;
  text-align: center;
  line-height: 1.1;
}

.slider__info .slider-text-1 {
  font-size: 27px;
}

.slider__info .slider-text-2 {
  font-size: 48px;
  color: #75003f;
}

.slider__info .slider-text-3 {
  font-size: 30px;
}

.slider__info .slider-text-4 {
  font-size: 12px;
  color: #3f3f3f;
}

.slider__info .btn-collection {
  margin-top: 20px;
}

.slider__title {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #75003f;
  font-family: 'EB Garamond', serif;
}

.btn-collection {
  height: 38px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  background: #75003f;
  border: none;
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 0 0 0 #b50f68;
     -moz-box-shadow: inset 0 0 0 0 #b50f68;
          box-shadow: inset 0 0 0 0 #b50f68;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;
}

.btn-collection:hover,
.btn-collection:focus,
.btn-collection:active {
  color: #fff;
  -webkit-box-shadow: inset 0 0 1px 3px #b50f68;
     -moz-box-shadow: inset 0 0 1px 3px #b50f68;
          box-shadow: inset 0 0 1px 3px #b50f68;
  background: rgba(117, 0, 63, 0.9);
}

.about__title {
  margin: 29px auto 27px;
  font-size: 24px;
  text-align: center;
  color: #75003f;
  text-transform: uppercase;
  font-family: 'EB Garamond', serif;
}

.aboute__text {
  margin: 0 auto;
  color: #2e2e2e;
  line-height: 1.25;
  text-align: center;
  max-width: 725px;
}

.modal-dialog .about__title {
  margin: 0;
}

.modal-footer {
  text-align: center;
}

label {
  color: #2e2e2e;
  line-height: 1.25;
  font-size: 16px;
  font-family: 'EB Garamond', serif;
  color: #75003f;
  display: block;
  text-align: center;
}

.form-control {
  color: #000;
  font-family: 'EB Garamond', serif;
  outline: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  border-color: rgba(117, 0, 63, 0.6);
}

.form-control:hover {
  border-color: #75003f;
}

.form-control:focus {
  border-color: #75003f;
  -webkit-box-shadow: inset 0 1px 1px rgba(117, 0, 63, 0.075), 0 0 8px rgba(117, 0, 63, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(117, 0, 63, 0.075), 0 0 8px rgba(117, 0, 63, 0.6);
          box-shadow: inset 0 1px 1px rgba(117, 0, 63, 0.075), 0 0 8px rgba(117, 0, 63, 0.6);
}

.quality .three-circle {
  margin: 28px auto 27px;
}

.quality .three-circle__top {
  margin: 23px auto 0;
}

.exulusive .three-circle {
  margin: 60px auto 37px;
}

.exulusive .three-circle__top {
  margin: 25px auto 64px;
}

.our-degree .three-circle {
  margin: 76px auto 32px;
}

.our-degree .three-circle__top {
  margin: 22px auto 62px;
}

.three-circle {
  width: 8px;
  margin: 20px auto 13px;
}

.three-circle > * {
  display: block;
  margin: 4px auto;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.three-circle__xs {
  width: 4px;
  height: 4px;
  background: #747474;
}

.three-circle__sm {
  width: 6px;
  height: 6px;
  background: #8e8e8e;
}

.three-circle__md {
  width: 8px;
  height: 8px;
  background: #8e8e8e;
}

.staff-slider {
  position: relative;
}

.staff-slider .slick-prev {
  left: 0;
  background: url(../img/icon/icon-left.png) center no-repeat;
}

.staff-slider .slick-arrow {
  width: 13px;
  height: 56px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  overflow: hidden;
  background-color: transparent;
  border: none;
  z-index: 2;
  outline: none;
  text-indent: -9999999px;
}

.staff-slider .slick-next {
  right: 0;
  background: url(../img/icon/icon-right.png) center no-repeat;
}

.staff-slider__item {
  outline: none;
  text-align: center;
  margin: 15px 40px 20px;
}

.staff-slider__item:hover img {
  -webkit-transform: scale(1.15);
     -moz-transform: scale(1.15);
      -ms-transform: scale(1.15);
       -o-transform: scale(1.15);
          transform: scale(1.15);
}

.staff-slider__img {
  height: 190px;
}

.staff-slider__img img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 3s;
     -moz-transition: -moz-transform 3s;
       -o-transition: -o-transform 3s;
          transition: transform 3s;
}

.staff-slider__price {
  position: relative;
  z-index: 5;
  font-size: 22px;
  color: #75003f;
  font-family: 'Times New Roman', serif;
}

.staff-slider__name {
  position: relative;
  z-index: 5;
  margin: 7px 0 13px;
  color: #000;
  font-size: 16px;
  font-family: 'EB Garamond', serif;
  min-height: 51px;
}

.staff-slider-title {
  margin: 8px 20px 26px;
  border-top: 1px solid #dbdbdb;
  text-align: center;
}

.banner-1 {
  background: url(../img/baner1.jpg) center no-repeat;
  height: 435px;
  padding: 331px 0 0 10%;
}

.banner-1__info {
  font-size: 18px;
  color: #2e2e2e;
  font-weight: 300;
}

.banner-1__info span {
  display: inline-block;
  margin-left: 100px;
}

.banner-2 {
  background: url(../img/baner2.jpg) center no-repeat;
  height: 301px;
  font-size: 18px;
  color: #1c0407;
  font-weight: 300;
  text-align: left;
}

.banner-2__info {
  max-width: 1170px;
  margin: 0 auto;
  padding: 43px 0 0 26%;
}

.banner-3 {
  background: url(../img/baner3.jpg) center no-repeat;
  height: 299px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.banner-3__info {
  text-align: right;
  float: left;
  margin: 126px 0 0 9%;
  font-weight: 300;
}

.banner-3__info span {
  display: block;
}

.banner-4 {
  /*background: url(../img/baner4.jpg) center no-repeat;*/
  height: 419px;
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  padding: 185px 0 0 203px;
}

.banner-4__info {
  display: inline-block;
  text-align: right;
}

.banner-5 {
  background: url(../img/baner5.jpg) center no-repeat;
  height: 347px;
  font-size: 24px;
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.banner-5__info {
  display: inline-block;
  float: left;
  margin: 170px 0 0 163px;
}

.banner-6 {
  background: url(../img/baner6.jpg) center no-repeat;
  height: 347px;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  padding: 260px 310px 0;
}

.footer {
  max-width: 340px;
  margin: 138px auto;
}

.footer__logo {
  border-bottom: 1px solid #d36ea3;
  padding: 0 0 13px;
}

.footer__copyright {
  font-size: 15px;
  text-align: center;
  margin: 12px 0 0;
  line-height: 1.2;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

.hidden-opacity {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.delay-02 {
  -webkit-animation-delay: .3s;
     -moz-animation-delay: .3s;
       -o-animation-delay: .3s;
          animation-delay: .3s;
}

.delay-04 {
  -webkit-animation-delay: .6s;
     -moz-animation-delay: .6s;
       -o-animation-delay: .6s;
          animation-delay: .6s;
}

.delay-06 {
  -webkit-animation-delay: .9s;
     -moz-animation-delay: .9s;
       -o-animation-delay: .9s;
          animation-delay: .9s;
}

.delay-08 {
  -webkit-animation-delay: 1.2s;
     -moz-animation-delay: 1.2s;
       -o-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.delay-10 {
  -webkit-animation-delay: 1.5s;
     -moz-animation-delay: 1.5s;
       -o-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@media (max-width: 1199px) {
  .navigation-menu {
    margin: 0 13px;
  }
  .contact-header {
    margin-left: 0;
  }
  .navigation-menu__item:nth-child(4) {
    padding: 0;
  }
  .navigation-menu__item a {
    padding: 11px 17px;
    min-width: 115px;
  }
  .navigation-menu__item:nth-child(2) {
    padding: 0;
  }
  .navigation-menu__item:nth-child(6) {
    padding: 0;
  }
  .banner-1 {
    padding-left: 6%;
  }
  .banner-2__info {
    padding-left: 31%;
  }
  .banner-5__info {
    margin-left: 100px;
  }
  .banner-6 {
    padding: 260px 245px 0;
  }
  .footer {
    max-width: 340px;
    margin: 70px auto;
  }
}

@media (min-width: 992px) {
  .base-bg__position_fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    border-bottom: 1px solid #75003f;
  }
}

@media (max-width: 991px) {
  .contact-header {
    margin: 25px 0;
  }
  .callback-wrap {
    text-align: center;
  }
  .btn__callback {
    margin: 0;
  }
  .navigation-menu {
    display: block;
    margin: 0;
    padding: 0;
  }
  .navigation-wrap {
    height: auto;
  }
  .navigation-menu__item {
    display: block;
    text-align: center;
  }
  .navigation-menu__item:nth-child(4) a:hover:after, .navigation-menu__item:nth-child(4) a:focus:after, .navigation-menu__item:nth-child(4) a:active:after, .navigation-menu__item:nth-child(4) a.active:after {
    width: 100%;
  }
  .banner-6 {
    padding: 260px 140px 0;
  }
  .banner-5__info {
    margin-left: 20px;
  }
  .banner-4 {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .banner-4__info {
    text-align: center;
  }
  .banner-1 {
    padding-left: 1%;
  }
}

@media (max-width: 767px) {
  .banner-5__info {
    margin-left: 0;
    float: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .banner-3__info {
    padding-left: 10px;
    padding-right: 10px;
    float: none;
    text-align: center;
    margin-left: 0;
  }
  .banner-3 {
    overflow: hidden;
  }
  .banner-2__info {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
  .banner-1__info {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .banner-1__info span {
    margin-left: 0;
  }
  .banner-6 {
    padding: 80px 10px;
    text-align: center;
  }
  .slider__info {
    left: 0;
    right: 0;
    margin: auto;
  }
  .slider__info .slider-text-2 {
    font-size: 35px;
  }
  .footer {
    padding: 0 15px;
  }
}

@media (max-width: 480px) {
  .contact-header__inner {
    width: auto;
  }
  .contact-header__item {
    float: none;
    display: block;
    text-align: center;
    border: none;
  }
  .contact-header__item + .contact-header__item {
    margin-top: 15px;
  }
}

/*# sourceMappingURL=main.css.map */